:root {
  --text-gray:#676767;
  --text-medium:#232323;
  --text-bold:#000000;
  --text-white:white;
  --text-disabled:ACADB5;
  --green: #32A143;
  --yellow: #FFD600;
  --red: #ED4848;
  --btn-normal-bg:#F6F6F6;
  --btn-hover-bg:#EBEBEB;
  --btn-hover-opasity-bg: 0.7;
  --btn-click-bg:#EBEBEB;
  --background-page:-bg #F5F5F5;
}

/* montserrat-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/montserrat-v25-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/montserrat-v25-cyrillic_latin-300italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v25-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/montserrat-v25-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/montserrat-v25-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/montserrat-v25-cyrillic_latin-500italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v25-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/montserrat-v25-cyrillic_latin-600italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-600italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v25-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/montserrat-v25-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/montserrat-v25-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('./fonts/montserrat-v25-cyrillic_latin-800italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/montserrat-v25-cyrillic_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v25-cyrillic_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v25-cyrillic_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v25-cyrillic_latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}


html {
  font-family: 'Montserrat', sans-serif;
}

input,
textarea,
select,
button {
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--text-gray);
}

*:focus-visible {
  outline: 1px solid var(--yellow);
}

button {
  cursor: pointer;
  border:none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.main-btn{
  width: 242px;
  height: 40px;
  padding: 10px auto;
  background: #FFD600;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant: all-small-caps;
  color: var(--text-medium);
}

.main-btn:hover{
  color: var(--text-white);
  box-shadow: 0px 6px 30px rgba(255, 214, 0, 0.52);
  backdrop-filter: blur(15px);
  transition-property: color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.main-btn_disabled{
  background: var(--btn-normal-bg);
  color:#ACADB5;
  transition: all 0.3s ease-in;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2%;
  background: var(--yellow);
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Header  */

.header__container{
  margin: 0 auto;
  padding: 25px 50px 75px;
  max-width: 1920px;

}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_left {
  max-width: 248px;
  max-height: 24px;
  
}

.header__list_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item:not(:last-child) {
  max-height: 40px;
  margin-right: 18px;
}


.header-item__search_btn {
  min-height: 40px;
  min-width: 40px;
  background-color: rgba(246, 246, 246, 0.4);
  border: none;
  border-radius: 26px;
}


.header-item__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--btn-hover-bg);
  border-radius: 10px;
  padding: 10px 16px;
}

.header-item__data_used {
  margin-right: 12px;
}

.header-item__data_icon{
  margin-right: 12px;
  border: 1px solid var(--btn-click-bg);
  width: 0px;
  height: 15px;
}

.header-data__value {
  color: var(--text-medium);
  font-weight: 500;

}

.header-item__data_balance {
  margin-right: 12px;
}

.header-item__data_add {
  background: none;
  border: none;
}


/* main */

.main{
  position: relative;
  margin-bottom: 60px;
}

/* navigation */

.nav__container{
  margin-bottom: 40px;
}

.nav__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item{
  letter-spacing: 0.05em;
  cursor: pointer;
}

.nav__item_bugs {
  margin-right: 34px;
  font-weight: 600;
  color: var(--text-bold);
}

.nav__item_bugs:hover {
  border-bottom: 1px solid var(--yellow);
}


.nav__item_suggestions {
  margin-right: 80px;
  text-transform: uppercase;
}

.nav__item_tracker {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--text-bold);
}

.nav__item_tracker::before {
  content: '';
  background: url('../img/spider.svg') 50% no-repeat ;
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.nav__item_tracker:hover::before  {
  content: '';  
  background: url('../img/spider-light.svg') 50% no-repeat ;
  width: 30px;
  height: 20px;
  margin-right: 5px;
  transition: background 0.3s ease-in-out;
}

.login__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-height: 43px;
  background: var(--btn-normal-bg);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.login__item:hover{
  background: var(--btn-hover-bg);
  transition: all 0.3 ease-in;
}

.login__item:active{
  background: var(--btn-hover-bg);
  opacity: 0.7;
  transition: all 0.3 ease-in;
}

.login__item_q {
  margin-right: 25px;
  min-width: 39px;
  background: var(--btn-normal-bg);
  text-align: center;
}
.login__item_address {
  margin-right: 12px;
  padding: 8px 15px;

}

.login__item_address:hover {
  opacity: var(--btn-hover-opasity-bg);
}


.login__item_out{
  min-width: 39px;
  background: var(--btn-normal-bg);
  text-align: center;
}

/* .add-bug */


.add-bug__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.add-bug__title_left {
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--text-medium);
}

/* bug-list   */

.bug-list__container {
  max-width: 1401347p0px;
}


.bug-list__sort-table {
  margin-bottom: 30px;
}

.sort-table__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-table__item{
  padding-right: 27px;
  position: relative;
  cursor: pointer;
}

.sort-table__item::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 70%;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent var(--text-gray) var(--text-gray);
  transform: rotate(-45deg);
}

.sort-table__item:hover{
  color: var(--text-medium);
  transition: color 0.3 ease-in;
}

.sort-table__item.active {
  color: var(--text-medium);
  border-bottom: 2px solid var(--yellow);
  transition: all 0.3 ease-in;
}

.sort-table__item.active::after {
  bottom: 40%;
  transform: rotate(-225deg);
}


/* .blur */

.blur{
  background: rgba(0, 0, 0, 0.2);
  filter: blur(10px);
}


/* admind desc  */
 
.admin-list {
  position: absolute;
  width: 1200px;
  max-height: 639px;
  left: 25%;
  top: 25%;
  background: #FFFFFF;
  box-shadow: 0px 15px 41px rgba(0, 0, 0, 0.17);
  border-radius: 24px;
}

.admin-close-btn{
  position: absolute;
  right: 3%;
  top: 5%;
  background-color: var(--text-white);
}

.admin-list__container {
  padding: 48px 43px;
}

.admin-list__title {
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--text-medium)
}

.admin-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.admin-data__data {
  display: flex;
  align-items: center;
}

.admin-data__item:not(:last-child) {
  margin-right: 30px;
}

.admin-data__value {
  font-weight: 400;
  color: var(--text-medium);
}

.admin-data__btn {
  max-width: 140px;
  max-height: 30px;
}

.admin-btn-groupe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #EBEBEB;
  font-weight: 500;
}

.btn-groupe__btn {
  margin-bottom: 15px;
}

.btn-groupe__form{
  position: relative;
}

.btn-groupe__input{
  padding: 7px 12px;
  min-width: 487px;
  min-height: 40px;
  border: 1px solid var(--btn-hover-bg);
  border-radius: 10px;
}

.btn-groupe__btn_inpput{
  position: absolute;
  top:0;
  right: 0;
}

.admin-text {
  max-width: 920px;
  margin-bottom: 35px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--text-gray);
}
.admin-files__list {
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}

.admin-files__item {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 7px 13px;
  max-height: 30px;
  background: #F6F6F6;
  border-radius: 4.5px;
  background: var(--btn-normal-bg);
  border-radius: 4.5px;
}

.admin-files__item_weight {
  color: #ACADB5;
}

.admin-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid var(--btn-click-bg);
}

.delete-btn {
  display: flex;
  align-items: center;
  padding: 11px 11px;
  max-width: 58px;
  max-height: 44px;
  background: var(--text-white);
  border-radius: 10px;
  border: 1px solid var(--btn-click-bg);
  cursor: pointer;
}

.delete-btn:hover{
  background: var(--btn-hover-bg);
  transition: all 0.3 ease-in;
}

.delete-btn:active{
  background: var(--btn-hover-bg);
  opacity: 0.7;
  transition: all 0.3 ease-in;
}

.admin-form__btn_status{
  display: flex;
  align-items: center;
  padding: 10px 31px;
  max-width: 120px;
  max-height: 44px;
  background: var(--text-white);
  border-radius: 10px;
  border: 1px solid var(--yellow);
  cursor: pointer;
}

.admin-form__input{
  min-width: 900px;
}

.admin-form__btn_union {
  max-width: 66px;
  max-height: 44px;
  background: #FFD600;
  border-radius: 0px 10px 10px 0px;
}